#fractal-tree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

#fractal-tree .p5Canvas {
  /* Taille augmentée pour une meilleure lisibilité */
  width: 140px !important;
  height: 140px !important;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  #fractal-tree .p5Canvas {
    width: 100px !important;
    height: 100px !important;
  }
}
